
body {
    background: #f5f5f5;
    font-family: 'Open Sans', sans-serif;

}

.registrer {
     padding: 1em;
     margin: 2em auto;
     width: 17em;
     background: #fff;
     border-radius: 3px;
     border: 1px solid #ccc;
     box-shadow: 0 0 2px #ccc;
} 

