.container {
    position: absolute;
    width: 245px;
    height: 350px;
    float: right;
    margin: 0px;
    right: 0px;
    padding: 0px;
    top: 45%;
}

.car {
    display: none;
}

* {
    overflow: hidden;
}

.bar {
    position: relative;
    background-color: rgba(0, 0, 0, 0.829);
    width: 70%;
    height: 30px;
    float: right;
    left: 25px;
    border-radius: 25px;
    margin-bottom: 8px;
}

.bar i {
    position: relative;
    color: white;
    line-height: 30px;
    left: 10px;
    display: inline-block;
}

.xbar-bg {
    position: relative;
    background-color: rgba(0, 0, 0, 0.829);
    height: 17px;
    width: 53%;
    display: inline-block;
    vertical-align: middle;
    bottom: 12px;
    left: 25px;
    border-radius: 25px;
}

.xbar-value-thirst {
    position: relative;
    background-color: white;
    height: 17px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px 0 0 25px;
    bottom: 2px;
}

.xbar-value-thirst-red {
    position: relative;
    background-color: rgba(255, 0, 0, 0%);
    border-radius: 25px 0 0 25px;
    bottom: 19px;
    height: 17px;
    width: 100%;
}

.xbar-value-hunger {
    position: relative;
    background-color: white;
    height: 17px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px 0 0 25px;
    bottom: 2px;
}

.xbar-value-hunger-red {
    position: relative;
    background-color: rgba(255, 0, 0, 0%);
    border-radius: 25px 0 0 25px;
    bottom: 19px;
    height: 17px;
    width: 100%;
}

.xbar-value-thirst-gas {
    position: relative;
    background-color: orange;
    height: 17px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px 0 0 25px;
    bottom: 2px;
}

.bar p {
    font-family: 'Roboto';
    font-weight: 300;
    position: relative;
    color: white;
    bottom: 42px;
    left: 50px;
    font-size: 14px;
}
